h1 {
  color: blue;
}
p {
  color: rgb(10, 2, 39);
}
.topnav {
  background-color: #341f38;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #aa049c;
  color: white;
}
body {
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
header {
  min-height: 50px;
  background: lightcyan;
}
footer {
  min-height: 50px;
  background: PapayaWhip;
}
main {
  flex: 1;
}